NEXT_PUBLIC_SUPABASE_URL=https://weqdggpegwbtmabypqiw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lang9F0rAwQ84dxGbTS9Bg_bDaG6wwm
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=soka-media
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_EMAIL=admin@soka.id
SUPABASE_ADMIN_PASSWORD=SokaAdmin2026!
SUPABASE_ADMIN_NAME=Admin Soka
